[Unit]
Description=Domoticz Home Automation
After=network.target

[Service]
User=domoticz
Group=domoticz
ExecStart=/home/domoticz/domoticz -daemon -pidfile /home/domoticz/domoticz.pidfile -www 8080 -sslwww 8443
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
